<div id="root" data-controller="dummy _REPLACE_CONTROLLER_">
  <p>This is pretty cool, isn't it?</p>
  <p>_REPLACE_HTML_</p>
  <p id="replace">_REPLACE_</p>
  <p id="translation"><%= I18n.t(".hello") %></p>
  <%= image_tag "green_rectangle.png", id: "image" %>
</div>
